.section-link {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;

  color: #000;

  font-family:
    Futura,
    "Montserrat",
    "Roboto",
    -apple-system,
    BlinkMacSystemFont,
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    "Futura",
    "Segoe UI",
    sans-serif;
  font-size: 32px;

  @media (max-width: 460px) {
    font-size: 16px;
    gap: 0px;
  }

  font-style: normal;
  font-weight: 500;
  line-height: normal;

  text-decoration: none;
  cursor: pointer;

  border-radius: 50px;
  box-shadow: 0px 12px 37px 0px rgba(0, 0, 0, 0.15);

  mix-blend-mode: normal;

  &--default {
    background: #fff;
  }
  &--disclaimer {
    background: #ffe2e2;
  }
  &--hyperlink {
    color: #ffffff;
    border: 1px solid #ffffff00;
    background: linear-gradient(
        90deg,
        rgb(0, 155, 95),
        rgb(79, 10, 170),
        rgb(255, 107, 141)
      ),
      rgb(36, 0, 84);

    background-size: 600% 600%;

    animation: bg-animation 3s ease-in-out infinite alternate;
  }

  transition:
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 12px 37px 0px rgba(0, 0, 0, 0.3);
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
