.tooltip {
  &-container {
    position: relative;
    // display: inline-block;
    cursor: help;

    /* Define initial position offsets for the tooltip text */
    .tooltip-text.top {
      bottom: 100%;
      left: 50%;
    }

    .tooltip-text.right {
      top: 50%;
      left: 100%;
    }

    .tooltip-text.bottom {
      top: 100%;
      left: 50%;
    }

    .tooltip-text.left {
      top: 50%;
      right: 100%;
    }
  }

  &-text {
    // position: fixed;
    // min-width: 200px;
    margin-top: 10px;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 6px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    /* Transition for fading effect */
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    opacity: 0; /* start hidden */
    visibility: hidden; /* start hidden */
  }

  &--visible {
    opacity: 1;
    visibility: visible; /* ensure it's visible when faded in */
  }
}
