$font-family: "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

:root {
  --dot-size: 50px;
  --font-color: rgb(255, 255, 255);
  --dot-color: rgb(255, 255, 255);
  --input-bg: rgba(255, 255, 255, 0.2);
}

// .Appss {
//   font-family: $font-family;
//   // -webkit-font-smoothing: antialiased;
//   // -moz-osx-font-smoothing: grayscale;

//   width: 100%;
//   height: 100vh;

//   margin: 0;
//   padding: 0;
//   position: relative;
//   color: white;

//   display: flex;
//   justify-content: center;

//   background-color: rgb(36, 0, 84);

//   background: linear-gradient(
//     270deg,
//     rgb(28, 0, 64),
//     rgb(77, 14, 149),
//     rgb(39, 25, 111),
//     rgb(11, 91, 60)
//   );
//   box-shadow: inset 0 0 200px rgba(232, 255, 59, 0.1);

//   background-size: 600% 600%;

//   animation: bg-animation 30s ease-in-out infinite alternate;
// }

.dot {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: var(--dot-size);
  height: var(--dot-size);

  will-change: left;

  border-radius: 50%;
  background: var(--dot-color);
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;

  gap: 20px;

  min-height: 50px;
  margin: 20px;

  border: 1px solid var(--font-color);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1), inset 0 0px 10px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 16px;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.input {
  width: 50px;
  padding: 5px;
  margin: 5px;
  border: none;
  background: var(--input-bg);
  color: var(--font-color);
  border-radius: 4px;
  font-size: 16px;
  outline: none;

  font-family: $font-family;
}

select {
  width: auto !important;
}

.button {
  min-width: 30px;
  min-height: 30px;
  height: 30px;
  width: 30px;
  max-width: 30px;
  max-height: 30px;

  background-color: var(--input-bg);

  color: white;
  font-family: $font-family;
  margin: 5px;

  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;

  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(35, 156, 110, 0.2);
  }
}

.collapse-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;

  svg {
    fill: white;
    width: 24px;
    height: 24px;
  }
}
