@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");

  font-weight: normal;
  font-style: normal;
}
$font-family:
  "Montserrat",
  "Roboto",
  -apple-system,
  BlinkMacSystemFont,
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  "Futura",
  "Segoe UI",
  sans-serif;

body {
  margin: 0;

  font-family: $font-family;
  font-display: swap;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 20px;
}
